body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff(0, 0%, 99%, 0.847);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:100%; 
    max-height: 100%;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.login-container {
    background-color: #04090f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4dc1f3;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #548bc6;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}